<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
                <div class="col">
                    topbar
                </div>
        </div>
        <div class="row">
            <div class="col">
                    left-marks-bar
            </div>
            <div class="col-6">
                notes
            </div>
            <div class="col">
                left-marks-bar
            </div>
        </div>

    </div>
</body>
</html>